
<div class="container">
<h3>Ruckus Library</h3>
  <div class="row">
    <div class="col-md-12">
        <ul>
          <li>Zig Ziglar on <a href="http://www.goals2go.com/articles/zig-ziglar-goal-setting.htm">Goal Setting</a>
          <li>Zig Ziglar on <a href="https://www.youtube.com/watch?v=Ae-VJ_lauCw">Goal Setting</a> VIDEO
          <li>Zig Ziglar Goals <a href="http://www.zigziglarfoundation.org/files/zig-groups/Tools/Lesson_3-with_Exercises.pdf">Worksheet</a>
          <li><a href="http://www.fastcompany.com/3033567/agendas/brainstorming-doesnt-work-try-this-technique-insteadBrainwriting">Brainwriting</a>
          <li>Seth on <a href="http://sethgodin.typepad.com/freeprize/2015/04/how-to-ta.html">How to talk about your project</a>
          <li>Seth on <a href="http://sethgodin.typepad.com/seths_blog/2009/05/ignore-sunk-costs.html"> Ignoring Sunk Costs</a>
          <li>The Sunk Cost <a href="http://youarenotsosmart.com/2011/03/25/the-sunk-cost-fallacy/"> Fallacy</a>
          <li><a href="https://www.youtube.com/watch?v=4Lb-6rxZxx0">The Monty Hall Problem</a>
          <li><a href="http://psych.hanover.edu/classes/cognition/papers/tversky81.pdf">The Framing of Decisions and the Psychology of Choice</a>
          <li>Seth on<a href="http://sethgodin.typepad.com/seths_blog/2015/04/are-you-feeling-lucky.html"> Expected Value </a>
          <li>List the dependencies<a href="https://www.youtube.com/watch?v=pp2_BBWkYe0"> Video </a>
          <li>Wikipedia on <a href="https://en.wikipedia.org/wiki/Decision_tree"> Decision Trees </a>
          <li>Scott Berkin - <a href="http://lifehacker.com/398119/how-priorities-make-things-happen"> How Prorities Make Things Happen </a>
          <li><a href="http://www.newyorker.com/magazine/2008/02/25/what-was-i-thinking">Irrational Thinking</a>
          <li><a href="http://www.cs.unibo.it/~ruffino/Letture%20TDPC/Kahneman.%20am.ec.rev.,%205,%202003.pdf">Daniel Kahneman - Maps of Bounded Rationality: Psychology for Behavioral Economicst</a> (PDF)
          	<li>Robert Harris<a href="http://www.virtualsalt.com/crebook5c.htm">Expected Value</a>
          <li><a href="http://www.dartmouth.edu/~chance/teaching_aids/books_articles/probability_book/Chapter6.pdf">Expected Value Advanced Version</a>
          <li><a href="http://sethgodin.typepad.com/seths_blog/2014/12/cutting-through-singers-paradox.html"> Singers Paradox </a>
          <li>Empathy <a href="http://aeon.co/video/philosophy/the-power-of-outrospection-trading-introspection-for-empathy/">Video</a>
          <li>Michael Schrage on <a href="http://www.fastcompany.com/3000620/create-true-innovation-consider-who-you-want-your-customers-become">changing your customers </a>
          <li>Simon Sinek's<a href="http://www.ted.com/talks/simon_sinek_how_great_leaders_inspire_action?language=en">why challenge</a>
          <li><a href="http://www.creativehuddle.co.uk/marketing-myopia-explained/">Marketing Myopia </a>
          <li>George Lakoff on<a href="http://georgelakoff.com/2014/11/29/george-lakoff-in-politics-progressives-need-to-frame-their-values/">worldviews</a>
          <li><a href="https://hackdesign.org/lessons/1">What is design</a>
          <li><a href="http://www.shutterstock.com/blog/8-common-design-mistakes-and-how-to-avoid-them">8 Common Design Mistakes</a>
          <li><a href="https://en.wikipedia.org/wiki/Technology_adoption_lifecycle">Technology adoption lifecycle</a>
          <li><a href="https://www.google.com/search?q=funnel+analysis&oq=funnel+an&aqs=chrome.0.0j69i57j0l4.2871j0j4&sourceid=chrome&es_sm=91&ie=UTF-8">Funnel analysis </a> (google search)
          <li><a href="https://www.youtube.com/watch?v=Zwh8ThUqeC8">Crossing the chasm</a> (video)
          <li>Geoffrey Moore<a href="http://smile.amazon.com/Crossing-Chasm-3rd-Disruptive-Mainstream/dp/0062292986/ref=sr_1_1?ie=UTF8&qid=1438618764&sr=8-1&keywords=crossing+the+chasm">Crossing the Chasm book</a>
          <li><a href="http://www.signsalad.com/semiotics-explained/">Semiotics explained</a>
          <li><a href="http://www.usability.gov/how-to-and-tools/methods/personas.html">Personas</a>
          <li>Seth on <a href="http://sethgodin.typepad.com/seths_blog/2007/06/responsibility.html">marketing responsibility</a>
          <li><a href="http://www.actionablebooks.com/en-ca/summaries/lets-get-real-or-lets-not-play/">Let's Get Real or Let's Not Play</a>
          <li>Synopsis of <a href="http://blog.pipelinersales.com/sales-management/sales-methodology/why-questions-matter-in-selling-a-synopsis-of-spin-selling/">Spin Selling</a>
          <li><a href="https://www.bestprincipledsolutions.com/uploads/2011_ClassicsCompendium_Must_Read_Articles_for_Managerial_Success_.pdf#page=127">Selling to organizations</a>
          <li>Excerpt from <a href="http://sethgodin.typepad.com/files/liars-excerpt-for-altmba.pdf">All Marketers are Liars</a>
          <li><a href="http://www.spcforexcel.com/publications/Theory_of_Constraints/13B63E123ED3A6769B6575CE93DA4F2F/Theory%20of%20Constraints.pdf">Theory of Constraints</a>
          <li>Garr Reynolds Presentation Zen (<a href="http://www.garrreynolds.com/Presentation/pdf/presentation_tips.pdf">PDF</a>) and (<a href="https://www.youtube.com/watch?v=DZ2vtQCESpk">Video</a>)
          <li>Nancy Duarte <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#tbm=vid&q=nancy+duarte+presentation">Videos</a> and <a href="http://www.ted.com/talks/nancy_duarte_the_secret_structure_of_great_talks">TED Talk</a>
          <li>Dale Carnegie<a href="http://www.gutenberg.org/ebooks/16317">Free eBook</a> and <a href="https://www.youtube.com/watch?v=2MAeBOQ5M5g">audiobook</a>
          <li>Seth on <a href="http://sethgodin.typepad.com/freeprize/2015/04/opportunity-cost.html">opportunity cost</a>
          <li>Seth on <a href="http://sethgodin.typepad.com/seths_blog/2010/12/the-worlds-worst-boss.html">the world's worst boss</a>
          <li>Three things <a href="http://sethgodin.typepad.com/seths_blog/2015/07/three-things-that-make-ceos-stupid.html"> that make CEO's stupid</a>
          <li><a href="http://examples.yourdictionary.com/examples-of-assets.html">Examples of Assets</a>
          <li>Steve Ballmer on <a href="https://www.youtube.com/watch?v=eywi0h_Y5_U"> iPhone</a>
          <li>Paul Graham <a href="http://www.paulgraham.com/yahoo.html">What Happeded to Yahoo</a>
          <li><a href="https://hbr.org/2004/07/marketing-myopia#">Marketing Myopia</a>
          <li>
        </ul>
    </div>
  </div>
</div>
